* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.wrapper-main {
  padding: 20px;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(132, 102, 201, 0.9559174011401436) 0%,
    rgba(82, 67, 94, 1) 94%
  );
  background-position: center;
  background-repeat: no-repeat;
}

#form {
  width: 300px;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

#inputTitle {
  width: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#inputDescription {
  width: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.wrapper-data {
  display: flex;
  column-gap: 10px;
}

#todo {
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

#inProgress {
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

#done {
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

#deleted {
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

.card {
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid plum;
}

.wrapper {
  display: none;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(64, 57, 82, 0.623);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 500px;
  height: 400px;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

.roundBtn {
  position: absolute;
  padding: 3px;
  border-radius: 50%;
  top: 1rem;
  right: 1rem;
}
