* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.wrapper-main {
  padding: 20px;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(132, 102, 201, 0.9559174011401436) 0%,
    rgba(82, 67, 94, 1) 94%
  );
  background-position: center;
  background-repeat: no-repeat;
}

#form {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

p,
span,
label {
  color: white;
  font-size: 20px;
}

#inputTitle,
#inputDescription,
#modalTitle,
#modalDescription {
  width: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: rgb(63, 62, 65);
  font-size: 20px;
}

#addCardButton,
#editBtn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background: rgba(132, 131, 197, 0.932);
  cursor: pointer;
}

.wrapper-data {
  display: flex;
  column-gap: 10px;
  row-gap: 20px;
  flex-wrap: wrap;
}

#todo {
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

#inProgress {
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

#done {
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

#deleted {
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

.container-deleteAll {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid plum;
  margin-bottom: 5px;
}

.card:last-child {
  margin-bottom: 0;
}

.wrapper {
  display: none;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(64, 57, 82, 0.623);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 500px;
  height: 400px;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid rgba(132, 131, 197, 0.932);
  background: radial-gradient(
    circle,
    rgba(123, 122, 153, 0.267) 0%,
    rgba(132, 131, 197, 0.37) 100%
  );
}

.roundBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-image: url("../img/times-solid.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wrapper-cardBtn {
  padding: 10px;
  display: flex;
  column-gap: 30px;
}

.editBtn {
  width: 20px;
  height: 20px;
  background-image: url("../img/pencil-alt-solid.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.deleteBtn {
  width: 20px;
  height: 20px;
  background-image: url("../img/trash-alt-solid.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.nextBtn {
  width: 20px;
  height: 20px;
  background-image: url("../img/share-solid.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.restoreBtn {
  width: 20px;
  height: 20px;
  background-image: url("../img/reply-all-solid.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.deletedAllBtn {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url("../img/trash-alt-solid.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.deletedAllBtn::after {
  content: "All";
  position: absolute;
  right: 25px;
  color: white;
  font-size: 20px;
}
